/* Banner */
.Banner {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  margin: 0;
  padding: 0;
  width: 90vm;
  height: 22vh;

  /* background-color: #b3caca; */
}
@media only-screen and (max-width: 600px){
  .Banner {
padding: 0;
  }  
  .web {
    font-size: 0.8vm;
  
   }
  .pic {
    width: auto;
    
  }
}

.pic {
  display: flex;
  justify-content: left;
  margin: 0; 
  color: rgb(28, 8, 48);
  border: 5px solid #e7de89;
  border-radius: 90em;
  width: 8em;
}

.web {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.50em;
  color: rgb(22, 4, 88);
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  justify-items: center;
  text-shadow: 1% 3% 5% #e7de89;
  padding: 0% 10% 10% 0%;
  margin: 8% 0% 0% 15%;
}

/* NavBar */
.NavBar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1%;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
  
}

@media only-screen and (max-width: 600px){
  .NavBar {
            font-size: 0.7em;
            padding:0px;
            text-align: center;
            align-items: center;
  }  
}

a:link {
  text-decoration: none;
  color: #8181ac;
  
}

.allnav,
.is-active,
.nav, 
.NavBarli {
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: auto;
  text-align: auto;
  margin: auto;
 
}

.Nav1 {
  background-color: rgb(131, 181, 209);
  height: 45px;
  width:17vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2%;
  color: #f4f4f8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.Nav1:hover {
  background-color: rgb(139, 194, 225);
  font-size: 1.02em;
}
.Nav1:active {
  background-color: rgb(146, 183, 204);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Nav2 {
  background-color: rgb(236, 180, 57);
  height: 45px;
  width:17vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2%;
  color: #f5f5f6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.Nav2:hover {
  background-color: rgb(249, 196, 82);
  font-size: 1.02em;
}
.Nav2:active {
  background-color: rgb(245, 242, 99);
  box-shadow: 0 5px #666;
  /* transform: translateY(4px); */
}
.Nav3 {
  background-color: rgb(120, 120, 185);
  height: 45px;
  width:17vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  padding: 2%;
  color: #f5f5f6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.Nav3:hover {
  background-color: rgb(146, 146, 224);
  font-size: 1.02em;
}
.Nav3:active {
  background-color: rgb(102, 102, 158);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.Nav4 {
  background-color: #68c48b;
  height: 45px;
  width:17vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2%;
  color: #f5f5f6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.Nav4:hover {
  background-color: rgb(128, 219, 151);
  font-size: 1.02em;
}
.Nav4:active {
  background-color: rgb(121, 246, 169);
  box-shadow: 0 5px #666;

  transform: translateY(4px);
}
/* Body */

.Body {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: 90vw;
  background-color: #c3caca;
  border-radius: 25px;
  box-shadow: 10% 12% 12% #999;
  
}
 .grid-wrapper{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-items: center;
  align-content: center;
  grid-gap: 0.2em;
  margin: auto;
  padding: auto;
}

.grid1 {
  /* culomn 1 */
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-content: center;
  background-color: #fcedc5;
  border-radius: 15px;
  box-shadow: 12px 12px 12px #999;
  margin: 40px 5px;
  padding: 25px;
} 
.grid2 {
  /*culomn 2 */
  display: grid;
  grid-template-rows: repeat(40px 40px 20px);
  background-color: #f8eece;
  border-radius: 45px;
  box-shadow: 12px 12px 12px #999;
  text-align: justify;
  padding: 35px;
  margin: 40px 3px;
}
.grid3 {
  /*culomn 3 */
  display: grid;
  grid-template-rows: repeat(10, auto);
  background-color: #fcf2d7;
  padding: 15px 50px 5px 30px;
  margin: 40px 3px;
  border-radius: 45px;
  box-shadow: 12px 12px 12px #999;
  text-align: justify;
}

h1,
h2,
h4 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.p1 {
  padding: 0px 5px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 30px;
  text-align: justify;
}
.p2 {
  padding: 0px;
  margin: 0px;
  font-family: cursive;
  font-size: 1em;
  text-align: center;
}
.p3 {
  padding: 10px 0px;
  font-weight: bold;
  margin: 5px 0px;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  text-align: center;
}
.p4 {
  padding: 0px 20px;
  margin: 0px 20px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.pp4 {
  padding: 0px 0px;
  margin: 5px 0px;
  line-height: 30px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-align: justify;
}
.hh4 {
  padding: 50px 0px 0px 0px;
  margin: 0px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.hh5 {
  padding: 50px 0px 0px 0px;
  margin: 0px;
  font-family: "Nunito", sans-serif;
}
.download{
  background-color: #10011d;
}
.social2 {
  justify-self: left;
  text-align: left;
  margin: 5%;
  font-size: 1.25em;
  padding: 5%;
}


/* AboutMe    */
.AboutMe {
  display: grid;
  background-image: image(Computer);
  background-color: rgba(151, 150, 150, 0.2);
  margin: 20px;
  padding: 10px;
  justify-content: center;
  justify-self: center;
}
.img {
  position: fixed; 
  top: 0; 
  left: 0; 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navme-position {
  position:absolute;
  margin-top: 10%;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  transform: translate(5%, -50%);
} 

.h-me2 {
  position:absolute;
  top: 25%;
  left: 40%;
  transform: translate(-55%, -50%);
  margin: 0px 0px 0px 80px;
  color:#10011d;
  font-weight: bolder;
  text-align: center;
}
.p-me2 {
  position: absolute;
  top: 50%;
  left: 25%;
  bottom: 30%;
  transform: translate(-20%, -50%);
  margin-bottom: 30px;
  padding-bottom: 15%;
  text-indent: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-align: justify;
  /* text-shadow: 2px 2px #f0e586; */
  color:#10011d;
  line-height: 50px;
}

/* Projects */

.projects {
  display: grid;
  grid-template-rows: repeat(3, auto);
  background-color: rgb(157, 217, 245);
  color: #040108;
  width: 80%;
  margin: 5%;
  padding: 5%;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  border-radius: 35px;
  box-shadow: 8px 10px 10px #999;
}
.projects1 {
  display: grid;
  margin: 2%;
  padding: 0;
  width: 80%;
  background-color: rgb(61, 81, 122);
  color: #040108;
  border-radius: 25px;
  justify-content: center;
  justify-self: center;
  box-shadow: 8px 13px 12px 8px #999;
}
.h2-projects {
  margin: 15px;
  color: rgb(249, 252, 216);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 3px 5px #fad9ad;
}

.p-projects {
  margin: 20px;
  padding: 30px;
  width: 80%;
  background-color: rgb(211, 245, 247);
  font-family: "Nunito", sans-serif;
  color: #040108;
  font-size: 20px;
  text-align: justify;
  line-height: 35px;
  border-radius: 15px;
  justify-content: center;
  justify-self: center;
  box-shadow: 1px 2px 5px 5px #999;
}
.a{
  color: #0b0414;
}